.card-subtitle {
    text-align: start;
    unicode-bidi: plaintext;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.tags {
    margin-top: auto;
}

textarea {
    margin-bottom: 3% !important;
}

.cardInEdit {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}

.noTags {
    background-color: rgb(172, 172, 172) !important;
}

.noDesc {
    color: rgb(122, 122, 122);
}

.schema {
    color: rgb(177, 177, 177);
}

.cancel:focus,
.cancel:hover {
    background-color: rgb(206, 206, 206) !important;
}

.cancel {
    right: 55px !important;
    background-color: rgb(240, 240, 240) !important;
    color: rgb(99, 99, 99) !important;
}